/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/



body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    width: 720px;
}

h1,h2 {
     margin: 0 auto;
     border-radius: 10px;
}

h3,h4 {
    color: #1D3557;
    font-size: 16px;
    
}

h1 {
    background: #1D3557;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 238px;
    margin-top: 107px;
    padding: 4px;
}
h2 {
    background: #457B9D;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-top:10px;
    width: 413px;
    padding: 10px 36px;
}

h3 {
    padding: 15px;
}
h4 {
    color: #1D3557;
    margin-top:20px;
}

img {
    width: 100px;
    border-radius: 50%;
}


#hero-background{
    display: flex;
    flex-direction: column;
    margin: 0;
    background: url("images/hero-background.webp");
    background-size:cover;
    /* mix-blend-mode: normal; */
    /* opacity: 0.5; */
    color:white;
    height: 343px;
}

#activity-section{
     margin: 0px;
     background: #F1FAEE;
     padding: 20px;
     
}
.activity-list{
    display: flex;
    justify-content: space-around;
    height: 380px;
   
}

.activity-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    
}

.card {
    display: flex;
    width: 400px;
    background: #A8DADC;
    box-shadow: 0px 6px 0px #1D3557;
    border-radius: 10px;
    padding: 16px;
    margin: 16px auto;
}

#guide-img {
    width: 180px;
    height: 178px;
    border-radius: 25px;
   
}

#guide-section{
     background: #F1F5F9;
     padding: 20px;
}

